@media all and (max-width: 1000px) {
    .top-wrapper h2 {
        font-size: 20px;
    }
    .top-wrapper h1 {
        font-size: 50px;
        line-height: 60px;
    }
    .btn {
        font-size: 20px;
        padding: 7px 37px;
        margin-top: 30px;
    }
}

@media all and (max-width: 670px) {
    .container {
        padding: 0 65px;
        text-align: center;
    }
    .top-wrapper h2 {
        font-size: 12px;
    }
    .top-wrapper h1 {
        font-size: 30px;
        line-height: 20px;
    }
    .btn {
        font-size: 12px;
        padding: 2px 32px;
        margin-top: 20px;
        width: 100%;
    }
}